<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <h3 class="d-flex justify-content-start">Angular 用户登录</h3>
    <div class="d-flex justify-content-end">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-outline-primary" (click)="Login()">登录</button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Second group">
                <button type="button" class="btn btn-outline-primary" (click)="Register()">注册</button>
            </div>
        </div>
    </div>
</nav>