<div class="page">
  <app-head></app-head>
  <div class="d-flex align-items-center login-content justify-content-center">

    <form [formGroup]="myForm">
      <h3 class="d-flex justify-content-center">用户登录</h3>
      <!-- <p *ngIf="myForm.invalid" class="text-danger">表单无效！</p> -->
      <!-- <p>{{name$ | async}}</p> -->
      <div class="form-group">
        <label for="userName">用户名</label>
        <input type="text" class="form-control" id="userName" aria-describedby="输入用户名" name="userName"
          [formControl]="userName" [ngClass]="{'is-invalid':userName.invalid,'is-valid':userName.valid}">

        <div class="valid-feedback">
          用户名格式正确！
        </div>
        <div class="invalid-feedback">
          <span *ngIf="userName.hasError('required')">
            用户名必须填写！
          </span>
          <span *ngIf="!userName.hasError('required')">
            用户名不得小于3位！
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="password">密码</label>
        <input type="password" class="form-control" id="password" name="password" [formControl]="password"
          [ngClass]="{'is-invalid':password.invalid,'is-valid':password.valid}">
        <div class="valid-feedback">
          密码格式正确！
        </div>
        <div class="invalid-feedback">
          密码不得小于5位！
        </div>
      </div>
      <button *ngIf="myForm.invalid" id="submit" type="submit" class="btn btn-primary btn-block" disabled>提交</button>
      <button *ngIf="myForm.valid" id="submit" type="submit" class="btn btn-primary btn-block"
        (click)="Submit()">登录</button>
    </form>
  </div>
</div>
<div class="page hide">
  <!-- <app-register></app-register> -->
  <app-head></app-head>
  <div class="d-flex align-items-center login-content justify-content-center">
    <form [formGroup]="myForm">
      <h3 class="d-flex justify-content-center">用户注册</h3>
      <!-- <p *ngIf="myForm.invalid" class="text-danger">表单无效！</p> -->
      <div class="form-group">
        <label for="userName2">用户名</label>
        <input type="text" class="form-control" id="userName2" aria-describedby="输入用户名" name="userName2"
          [formControl]="userName2" [ngClass]="{'is-invalid':userName2.invalid,'is-valid':userName2.valid}">
        <div class="valid-feedback">
          用户名格式正确！
        </div>
        <div class="invalid-feedback">
          <span *ngIf="userName2.hasError('required')">
            用户名必须填写！
          </span>
          <span *ngIf="!userName2.hasError('required')">
            用户名不得小于3位！
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="password2">密码</label>
        <input type="password" class="form-control" id="password2" name="password2" [formControl]="password2"
          [ngClass]="{'is-invalid':password2.invalid,'is-valid':password2.valid}">
        <div class="valid-feedback">
          密码格式正确！
        </div>
        <div class="invalid-feedback">
          密码不得小于5位！
        </div>
      </div>
      <button *ngIf="myForm2.invalid" id="register" type="submit" class="btn btn-primary btn-block" disabled>注册</button>
      <button *ngIf="myForm2.valid" id="register" type="submit" class="btn btn-primary btn-block"
        (click)="addInfo()">注册</button>
    </form>
  </div>
</div>
<div class="page hide">
  <app-success></app-success>
</div>
<div class="page hide">
  <app-fail></app-fail>
</div>